<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here your post in detail</h1>
    <h2>Post id:<%=post.id%></h2>
    <div class="post">
        <h3 class="username">@<%=post.username%></h3>
        <img class="image" src="<%=post.img%>">
        <h4 class="caption"><%=post.caption%></h4>
    </div>
    
</body>
</html>